#content {
    margin-top: 5em;
    display: grid;
    margin: auto;
    width: 90%;
    margin-top: 70px;
    margin-bottom: 150px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.table {
    margin-bottom: 50px !important;
}

#total {
    margin: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
    float: left;
}

#titulo-principal {
    margin-bottom: 5px;
    margin-top: 25px;
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

#cierraSesion {
    margin: 16px;
    margin-top: 41px;
}

.centrar {
    padding-top: 20px !important;
}

.centrar-boton {
    padding-top: 16px !important;
}

.carta {
    border: 2px #F7F6F6 solid;
}

.total {
    display: flex;
    gap: 350px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.total-monto {
    display: flex;
    gap: 15px;
    align-items: end;
}

@media screen and (max-width: 900px) {
    #content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    #content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 430px) {
    #content {
        grid-template-columns: repeat(1, 1fr);
    }
}